{% if products %}
    <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.name }}</strong> - {{ product.price }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products available.</p>
{% endif %}
